In [2]:
import pandas as pd
import numpy as np

In [3]:
#Let's read the data into a data frame
weather_df = pd.read_csv("weather_2012.csv")

print("Shape:", weather_df.shape)
print("Index:", weather_df.index)

Shape: (8784, 8)
Index: RangeIndex(start=0, stop=8784, step=1)

In [4]:
#Let's inspect our dataset
weather_df.head(25)

              Date/Time  Temp (C)  ...  Stn Press (kPa)               Weather
0   2012-01-01 00:00:00      -1.8  ...           101.24                   Fog
1   2012-01-01 01:00:00      -1.8  ...           101.24                   Fog
2   2012-01-01 02:00:00      -1.8  ...           101.26  Freezing Drizzle,Fog
3   2012-01-01 03:00:00      -1.5  ...           101.27  Freezing Drizzle,Fog
4   2012-01-01 04:00:00      -1.5  ...           101.23                   Fog
5   2012-01-01 05:00:00      -1.4  ...           101.27                   Fog
6   2012-01-01 06:00:00      -1.5  ...           101.29                   Fog
7   2012-01-01 07:00:00      -1.4  ...           101.26                   Fog
8   2012-01-01 08:00:00      -1.4  ...           101.23                   Fog
9   2012-01-01 09:00:00      -1.3  ...           101.20                   Fog
10  2012-01-01 10:00:00      -1.0  ...           101.15                   Fog
11  2012-01-01 11:00:00      -0.5  ...           100.98                   Fog
12  2012-01-01 12:00:00      -0.2  ...           100.79                   Fog
13  2012-01-01 13:00:00       0.2  ...           100.58                   Fog
14  2012-01-01 14:00:00       0.8  ...           100.31                   Fog
15  2012-01-01 15:00:00       1.8  ...           100.07                   Fog
16  2012-01-01 16:00:00       2.6  ...            99.93         Mostly Cloudy
17  2012-01-01 17:00:00       3.0  ...            99.81                Cloudy
18  2012-01-01 18:00:00       3.8  ...            99.74                  Rain
19  2012-01-01 19:00:00       3.1  ...            99.68                  Rain
20  2012-01-01 20:00:00       3.2  ...            99.50                Cloudy
21  2012-01-01 21:00:00       4.0  ...            99.39                Cloudy
22  2012-01-01 22:00:00       4.4  ...            99.32          Rain Showers
23  2012-01-01 23:00:00       5.3  ...            99.31                Cloudy
24  2012-01-02 00:00:00       5.2  ...            99.26          Rain Showers

[25 rows x 8 columns]

In [4]:
#Let's first convert the Date/Time column data type from object to timestamp to get the respective months
weather_df['Date/Time'] = pd.to_datetime(weather_df['Date/Time'])
weather_df['Date/Time'].head(5)

0   2012-01-01 00:00:00
1   2012-01-01 01:00:00
2   2012-01-01 02:00:00
3   2012-01-01 03:00:00
4   2012-01-01 04:00:00
Name: Date/Time, dtype: datetime64[ns]

##**Analyzing the DataFrame**

In [9]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   datetime64[ns]
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 549.1+ KB

This checks the data type of each column in the dataframe

In [11]:
weather_df.index

RangeIndex(start=0, stop=8784, step=1)

In [14]:
weather_df['Weather'].unique() # Checks the unique values from the weather column

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [17]:
weather_df['Weather'].nunique() # Returns the number of non-unique values in a column.

50

In [19]:
weather_df['Weather'].value_counts() # Counts the number of unique items in a column.

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Fog                                  4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain Showers,Fog                3
Thunderstorms,Rain                            3
Drizzle,Snow                                  2
Thunderstorms                                 2
Rain Showers,Snow Showers                     2
Freezing Rain,Haze                            2
Moderate Snow,Blowing Snow                    2
Moderate Rain,Fog                             1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Freezing Rain,Snow Grains                     1
Rain,Ice Pellets                              1
Thunderstorms,Rain,Fog                        1
Freezing Rain,Ice Pellets,Fog                 1
Thunderstorms,Moderate Rain Showers,Fog       1
Drizzle,Ice Pellets,Fog                       1
Rain,Snow Grains                              1
Rain Showers,Fog                              1
Thunderstorms,Heavy Rain Showers              1
Name: Weather, dtype: int64

##**Data Manipulation**

In [24]:
weather_col = weather_df['Weather']

print(type(weather_col))
weather_col.head()

<class 'pandas.core.series.Series'>

0                     Fog
1                     Fog
2    Freezing Drizzle,Fog
3    Freezing Drizzle,Fog
4                     Fog
Name: Weather, dtype: object

When we extract a column from the dataframe, it returns a Pandas Series object ie. a one-dimensional object as output.

In [26]:
weather_temp_cols = weather_df[['Weather', 'Temp (C)']]

print(type(weather_temp_cols))
weather_temp_cols.head()

<class 'pandas.core.frame.DataFrame'>

                Weather  Temp (C)
0                   Fog      -1.8
1                   Fog      -1.8
2  Freezing Drizzle,Fog      -1.8
3  Freezing Drizzle,Fog      -1.5
4                   Fog      -1.5

When we extract a column from the dataframe, it returns a Pandas DataFrame object ie. a two-dimensional object as output.

In [28]:
weather_df[:25] # Returns the first 25 columns

             Date/Time  Temp (C)  ...  Stn Press (kPa)               Weather
0  2012-01-01 00:00:00      -1.8  ...           101.24                   Fog
1  2012-01-01 01:00:00      -1.8  ...           101.24                   Fog
2  2012-01-01 02:00:00      -1.8  ...           101.26  Freezing Drizzle,Fog
3  2012-01-01 03:00:00      -1.5  ...           101.27  Freezing Drizzle,Fog
4  2012-01-01 04:00:00      -1.5  ...           101.23                   Fog
5  2012-01-01 05:00:00      -1.4  ...           101.27                   Fog
6  2012-01-01 06:00:00      -1.5  ...           101.29                   Fog
7  2012-01-01 07:00:00      -1.4  ...           101.26                   Fog
8  2012-01-01 08:00:00      -1.4  ...           101.23                   Fog
9  2012-01-01 09:00:00      -1.3  ...           101.20                   Fog
10 2012-01-01 10:00:00      -1.0  ...           101.15                   Fog
11 2012-01-01 11:00:00      -0.5  ...           100.98                   Fog
12 2012-01-01 12:00:00      -0.2  ...           100.79                   Fog
13 2012-01-01 13:00:00       0.2  ...           100.58                   Fog
14 2012-01-01 14:00:00       0.8  ...           100.31                   Fog
15 2012-01-01 15:00:00       1.8  ...           100.07                   Fog
16 2012-01-01 16:00:00       2.6  ...            99.93         Mostly Cloudy
17 2012-01-01 17:00:00       3.0  ...            99.81                Cloudy
18 2012-01-01 18:00:00       3.8  ...            99.74                  Rain
19 2012-01-01 19:00:00       3.1  ...            99.68                  Rain
20 2012-01-01 20:00:00       3.2  ...            99.50                Cloudy
21 2012-01-01 21:00:00       4.0  ...            99.39                Cloudy
22 2012-01-01 22:00:00       4.4  ...            99.32          Rain Showers
23 2012-01-01 23:00:00       5.3  ...            99.31                Cloudy
24 2012-01-02 00:00:00       5.2  ...            99.26          Rain Showers

[25 rows x 8 columns]

In [32]:
weather_df[['Visibility (km)', 'Rel Hum (%)']].iloc[:5:2] # Returns the first three alternating rows from the Visibility and Humidity columns

   Visibility (km)  Rel Hum (%)
0              8.0           86
2              4.0           89
4              4.8           88

##**Filtering**

Filter out the days that never snowed

In [33]:
snowed_df = weather_df['Weather'].str.lower().str.contains('snow')
weather_df[snowed_df]

               Date/Time  Temp (C)  ...  Stn Press (kPa)       Weather
41   2012-01-02 17:00:00      -2.1  ...            99.66  Snow Showers
44   2012-01-02 20:00:00      -5.6  ...           100.07  Snow Showers
45   2012-01-02 21:00:00      -5.8  ...           100.15  Snow Showers
47   2012-01-02 23:00:00      -7.4  ...           100.27  Snow Showers
48   2012-01-03 00:00:00      -9.0  ...           100.35  Snow Showers
...                  ...       ...  ...              ...           ...
8779 2012-12-31 19:00:00       0.1  ...           100.13          Snow
8780 2012-12-31 20:00:00       0.2  ...           100.03          Snow
8781 2012-12-31 21:00:00      -0.5  ...            99.95          Snow
8782 2012-12-31 22:00:00      -0.2  ...            99.91          Snow
8783 2012-12-31 23:00:00       0.0  ...            99.89          Snow

[583 rows x 8 columns]

We can see that snow appeared 583 times.

In [34]:
# Instances where the wind speed was above 24 and visibility was 25

wind_vis = weather_df[(weather_df['Wind Spd (km/h)'] >24) & (weather_df['Visibility (km)']==25)]
wind_vis.head()

             Date/Time  Temp (C)  ...  Stn Press (kPa)        Weather
23 2012-01-01 23:00:00       5.3  ...            99.31         Cloudy
24 2012-01-02 00:00:00       5.2  ...            99.26   Rain Showers
25 2012-01-02 01:00:00       4.6  ...            99.26         Cloudy
26 2012-01-02 02:00:00       3.9  ...            99.26  Mostly Cloudy
27 2012-01-02 03:00:00       3.7  ...            99.30  Mostly Cloudy

[5 rows x 8 columns]

In [5]:
# Applying custom functions
def times2(value):
    return value * 2
    
t2 = weather_df['Visibility (km)'].apply(times2)
t2.head()

0    16.0
1    16.0
2     8.0
3     8.0
4     9.6
Name: Visibility (km), dtype: float64

In [6]:
# Adding new columns the Visibility (km) 
visibility_in_meters = weather_df['Visibility (km)'] * 1000
weather_df['Visibility (m)'] = visibility_in_meters

weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,Visibility (m)
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,8000.0
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,8000.0
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",4000.0
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",4000.0
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,4800.0

In [11]:
# Renaming columns 
weather_df.rename(columns={'Visibility (m)':'Visibility (meters)'}, inplace=True)
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,Visibility (meters)
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,8000.0
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,8000.0
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",4000.0
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",4000.0
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,4800.0

In [13]:
#Deleting columns
weather_df.drop(labels=['Visibility (meters)'], axis=1).head(3)

#Alternatively
# del weather_df2['Visibility (meters)']

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"

In [15]:
# Sorting values from the highest temp
sort_by_temp = weather_df.sort_values('Temp (C)', ascending= False)
sort_by_temp.head(10)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,Visibility (meters)
4695,2012-07-14 15:00:00,33.0,16.8,38,22,48.3,101.31,Mainly Clear,48300.0
4143,2012-06-21 15:00:00,33.0,19.0,44,24,24.1,100.20,Mainly Clear,24100.0
4696,2012-07-14 16:00:00,32.9,15.3,35,24,48.3,101.26,Mainly Clear,48300.0
5199,2012-08-04 15:00:00,32.8,18.8,44,17,24.1,101.39,Clear,24100.0
4694,2012-07-14 14:00:00,32.7,15.3,35,28,48.3,101.35,Mainly Clear,48300.0
4142,2012-06-21 14:00:00,32.6,20.4,49,20,24.1,100.25,Mainly Clear,24100.0
5201,2012-08-04 17:00:00,32.5,19.8,47,13,24.1,101.32,Clear,24100.0
5200,2012-08-04 16:00:00,32.5,18.5,44,15,24.1,101.34,Clear,24100.0
4697,2012-07-14 17:00:00,32.5,16.5,38,19,48.3,101.22,Mainly Clear,48300.0
4144,2012-06-21 16:00:00,32.5,17.9,42,24,24.1,100.14,Mainly Clear,24100.0

In [17]:
# Hottest values and their counts
sorted_counts = weather_df['Temp (C)'].value_counts().sort_values(ascending=False)
sorted_counts.iloc[:10]

16.6    65
1.1     58
0.8     47
1.5     45
19.3    44
2.6     43
21.1    43
0.4     41
1.3     40
14.6    39
Name: Temp (C), dtype: int64

In [19]:
# Mean temperatures per month
mean = {}

for month in range(1,13):
    mean[month] = weather_df.loc[weather_df['Date/Time'].dt.month == month, 'Temp (C)'].mean()

pd.Series(mean)

1     -7.371505
2     -4.225000
3      3.121237
4      7.009306
5     16.237769
6     20.134028
7     22.790054
8     22.279301
9     16.484444
10    10.954973
11     0.931389
12    -3.306317
dtype: float64

In [21]:
#Number of times the wind speed was exactly 4 km/h
weather_df['Wind Spd (km/h)'] [weather_df['Wind Spd (km/h)']==4].value_counts()

4    474
Name: Wind Spd (km/h), dtype: int64

In [20]:
mean_temparature_df2 = weather_df.groupby(weather_df['Date/Time'].dt.month).agg(np.mean).reset_index()
mean_temparature_df2

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Visibility (meters)
0,1,-7.371505,-12.294758,68.383065,18.108871,22.100269,101.005349,22100.268817
1,2,-4.225000,-9.221695,68.956897,14.837644,25.182184,101.142414,25182.183908
2,3,3.121237,-3.488575,64.862903,14.514785,26.177957,101.335255,26177.956989
3,4,7.009306,-1.934583,56.150000,17.369444,31.777083,100.716833,31777.083333
4,5,16.237769,8.080780,61.760753,12.846774,29.418548,101.057164,29418.548387
5,6,20.134028,11.738056,60.643056,14.681944,32.104167,100.784222,32104.166667
6,7,22.790054,14.595430,62.017473,11.887097,33.655108,100.828333,33655.107527
7,8,22.279301,15.644758,67.943548,13.931452,30.192608,100.927097,30192.607527
8,9,16.484444,10.757917,71.165278,14.108333,30.603472,101.087903,30603.472222
9,10,10.954973,6.533468,75.731183,15.475806,25.111022,100.909368,25111.021505
10,11,0.931389,-4.179306,69.984722,13.973611,26.077083,101.658306,26077.083333
11,12,-3.306317,-6.129032,81.299731,17.614247,19.733199,101.174409,19733.198925