In [2]:
# Imports
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from scipy.stats import norm, skew

In [3]:
# Loading the dataset
df = pd.read_csv('Automobile_data.csv')
df.tail()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

### 1. Impute the missing values in all columns and replace the numerical data with mean of the particular column (Make sure you replace "?" by "NaN" before Imputing)

In [15]:
# Replace '?' with 'NaN' then Impute missing data in the columns
df = df.replace('?', 'NaN')
numeric_imp = SimpleImputer(missing_values='NaN', strategy='mean')
#df['normalized-losses'] = numeric_imp.fit_transform(df[['normalized-losses']])
#df['horsepower'] = numeric_imp.fit_transform(df[['horsepower']])

### 2. Check the skewness of the numeric variable and apply square-root transformation

In [19]:
numeric_features = df._get_numeric_data().columns
for f in numeric_features:
    if skew(df[f]) >1:
        df[f] = np.sqrt(df[f])

### 3. Label Encode the Categorical features

In [22]:
def dummyEncode(df):
        columnsToEncode = list(df.select_dtypes(include=['category','object']))
        le = LabelEncoder()
        for feature in columnsToEncode:
            try:
                df[feature] = le.fit_transform(df[feature])
            except:
                print('Error encoding '+feature)
        return df
df = dummyEncode(df)

### 4. Combine the 'height' and 'width' to make a new feature 'area' of the frame of the car.

In [24]:
df['area'] = df['height'] * df['width']